<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Error {{top}}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/investlogin.css">
    </head>
<body>

    <h1 style="text-align:center; color: black">ERROR::</h1>

    <div class="container card" style="text-align: center; color: red;">
        <h3>{{bottom}}</h3>
        <a href="/" class="btn btn-success" role="button">HOME</a>
    </div>

</body>
</html>



