<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AgroFirst</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/investlogin.css">
    </head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand nav-home" href="/">AgroFirst</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if session.user_id %}
                    <ul class="nav navbar-nav">
                        <li class="active nav-home"><a href="/">Home</a></li>
                        <li><a href="/buy">Buy</a></li>
                        <li><a href="/invest">Invest</a></li>
                        <li><a href="#contact-us">Contact Us</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li id="glyphicon-log-out"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="active nav-home"><a href="/">Home</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li id="glyphicon-log-in"><a href="/investlogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>    

    <h2 style="text-align:center; color: black">Register</h2>

    <div class="container card">
        <form action="/signup" enctype="multipart/form-data" method="POST">                        
            <div class="form-group">
                <label for="firstName">FirstName:</label>
                <input type="text" class="form-control" id="firstName" placeholder="firstName" name="firstname" required>
            </div>

            <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" class="form-control" id="lastName" placeholder="lastName" name="lastname" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>

            <div class="form-group">
                <label for="email">Profile Photo:</label>
                <input type="file" class="form-control" name="photo" required>
            </div>

            <div class="form-group">
                <label for="num">Number:</label>
                <input type="number" class="form-control" id="number" placeholder="Number" name="phonenumber" required>
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="signupPwd" placeholder="Password" name="password" required>
            </div>

            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" id="signupPwd" placeholder="Password" name="cpassword" required>
            </div>

            <div class="form-group">
                <label><input type="radio" name="farmer" value="farmer" checked> Farmer</label>
                <label><input type="radio" name="farmer" value=""> User</label>
            </div>
            
            <button type="submit" id="createHotelList" class="btn btn-success">Sign Up</button>
        </form>
    </div>
    <br>

</body>
</html>



