<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pitch Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body> 



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="farmers.html">Profile</a>
            </ul>

            <ul class="navbar-nav mr-auto justify-content-end">
                </li class = "nav-item">
                    <a class = "nav-link btn btn-danger btn-lg" href="/logout">
                        <span class="glyphicon glyphicon-log-out "></span> Log out
                    </a>
                </li>
            </ul>
    </nav>
            



 
    <div class="container">
        <form action="/updatepitch" enctype="multipart/form-data" method="POST">
            {%for pit in pitch%}
            <div class="form-group">
                <label for="firstname"><b>First Name:</b></label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" value="{{pit[0]}}"required>
                
            </div>
            <div class="form-group">
                <label for="lastname"><b>Last Name:</b></label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" value="{{pit[1]}}" required>          
            </div>
            <div class="form-group">
                <label for="lastname"><b>Phone Number:</b></label>
                <input type="number" class="form-control" id="phonenumber" placeholder="Enter phonenumber" name="phonenumber" value="{{pit[2]}}" required>         
            </div>
            <div class="form-group">
                <label for="lastname"> <b>Alternative Phone Number:</b></label>
                <input type="number" class="form-control" id="phonenumber2" placeholder="Enter an alternative phonenumber" value="{{pit[3]}}" name="phonenumber2">
            </div>

            <div class="form-group">
                    <label for="title"><b>Title of Pitch:</b></label>
                    <input type="text" class="form-control" id="tile" placeholder="Note that your tile muat be unique for each pitch" value="{{pit[11]}}" name="title" required>        
                </div>
           
                <div class="form-group">
                    <label for="category"><b>Category of farming:</b></label>
                    <select class="form-control" id="category" name="category">
                        
                        <option value="" selected disabled>Select</option>
                        {%if  "{{pit[4]}}" =="Arable"%}
                        <option value="{{pit[4]}}">{{pit[4]}}(Crop Farming)</option>
                        <option value="Livestock">Livestock</option>
                        {% else %}
                        <option value="{{pit[4]}}">Livestock</option>
                        <option value="Arable">Arable(Crop Farming)</option>
                        {%endif%}
                    </select>
                </div>

            <div class="form-group">
                <label for="location"><b>Location:</b></label>
                <input type="text" class="form-control" id="location" value="{{pit[5]}}" placeholder="Enter the address of your product" name="location" required>        
            </div>
        
            <div class="form-group">
                <label for="lastname"><b>Funds Needed:</b></label>
                <input type="integer" class="form-control" id="fundneeded" value="{{pit[6]}}" placeholder="" name="fundneeded" required>        
            </div>

            <div class="form-group">
                <label for="lastname"><b>image</b></label>
                <input type="file" class="form-control" id="fundneeded" value="{{pit[7]}}" placeholder="" name="photo" required>        
            </div>
            <div class="form-group">
                <label for="interest"><b>%Interest:</b></label>
                <input type="number" class="form-control" id="quantity" value="{{pit[8]}}"placeholder="What's the interest rate for an investor after one year?" name="interest" required>        
            </div>
            <div class="form-group">
                <label for="description"><b>Description:</b></label>
                <input class="form-control" rows="5" id="description" value="{{pit[9]}}" name="description"></textarea>
            </div> 
            
            <button type="submit" class="btn btn-success">Submit</button>
            {%endfor%}
        </form> 
    </div> 

</body>
</html>


